<div class="footer">
    <div class="left-side">
        <div class="back-to-top">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M158.53,473c-4.45,0-8.9-1.11-12.23-4.45a16.12,16.12,0,0,1,0-23.35L334.23,257.25,146.3,69.33A16.51,16.51,0,0,1,169.65,46l199,199a16.12,16.12,0,0,1,0,23.35l-199,200.15A14.28,14.28,0,0,1,158.53,473Z"></path></svg>
            <i>back to top</i>
        </div>
        <div class="artistic-text">
            <div class="title">
                Artistic love stories
            </div>
            <hr>
            <div class="description">
                Blending the timeless elegance of old-world charm with the unparalleled beauty of film photography to capture your love story. Our approach is designed for couples who appreciate the depth of their bond, the sophistication of travel and fine arts, and the luxury of meticulously curated moments. As artistic custodians of your romance, we promise to infuse every image with sophistication, grace, and the rich, textured nuances that only film can provide, creating a luxurious visual narrative that celebrates your unique journey and the profound connection you share.
            </div>
        </div>
        <div class="copyright">
            COPYRIGHT 2025 - 2026 • HOB WEDDINGS PHOTOGRAPHY • ALL RIGHTS RESERVED <br>
            Ben Arous. TUNISIA, HAMMAM LIF. DESTINATION WEDDING PHOTOGRAPHER.
        </div>
    </div>

    <div class="middle-side">
        <div class="images">
            <img src="/images/footer1.jpg" alt="">
            <img src="/images/footer2.jpg" alt="">
            <img src="/images/footer3.jpg" alt="">
            <img src="/images/footer4.jpg" alt="">
        </div>

        <div class="social">
            <p class="follow">follow along</p>
            <a href="https://instagram.com">@HOBWEDDINGS</a>
            <div class="links">
                <a href="https://instagram.com/">instagram</a>/
                <a href="https://instagram.com/">facebook</a>/
                <a href="https://instagram.com/">pinterest</a>
            </div>
        </div>

        <div class="logo">
            <img src="/images/hob-weddings-logo.png">
        </div>

        <div class="tagline">
            Our couples have celebrated their <br>
            best days throughout <br>
            the whole of Tunisia.
        </div>
    </div>

    <div class="right-side">
        <div class="inquire">
            <i>inquire</i>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M158.53,473c-4.45,0-8.9-1.11-12.23-4.45a16.12,16.12,0,0,1,0-23.35L334.23,257.25,146.3,69.33A16.51,16.51,0,0,1,169.65,46l199,199a16.12,16.12,0,0,1,0,23.35l-199,200.15A14.28,14.28,0,0,1,158.53,473Z"></path></svg>
        </div>
        <div class="footer-menu">
            <div class="title">
                NAVIGATE
            </div>
            <hr>
            <div class="footer-links">
                <a href="home">HOME</a>
                <a href="home">ABOUT</a>
                <a href="home">EXPERIENCE</a>
                <a href="home">PORTFOLIO</a>
                <a href="home">EDUCATION</a>
                <a href="home">JOURNAL</a>
                <a href="home">CONTACT</a>
            </div>
        </div>

        <div class="credits">
            SITE CREDITS
        </div>

        </div>
    </div>
</div>
