<div class="footer">
    <div class="left-side">
        <a href="#top">
            <div class="back-to-top">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M158.53,473c-4.45,0-8.9-1.11-12.23-4.45a16.12,16.12,0,0,1,0-23.35L334.23,257.25,146.3,69.33A16.51,16.51,0,0,1,169.65,46l199,199a16.12,16.12,0,0,1,0,23.35l-199,200.15A14.28,14.28,0,0,1,158.53,473Z"></path></svg>
                <i>back to top</i>
            </div>
        </a>
        <div class="artistic-text">
            <div class="title">
                Artistic love stories
            </div>
            <hr>
            <div class="description">
                December the 3rd, 2024, Leila and Sami celebrated their love under the golden glow of Dar Zarrouk, Sidi Bou Said. The crisp winter air was filled with laughter, music, and the scent of jasmine drifting from nearby gardens. Sami’s eyes sparkled as he watched Leila glide across the terrace, her dress catching the soft sunlight. Friends and family gathered around, toasting their union with joy and warmth. Every glance, every embrace, every fleeting moment was captured with care, creating a visual story of a day brimming with emotion, elegance, and timeless love.
            </div>
        </div>
        <div class="copyright">
            COPYRIGHT 2025 - 2026 • HOB WEDDINGS PHOTOGRAPHY • ALL RIGHTS RESERVED <br>
            Ben Arous. TUNISIA, HAMMAM LIF. DESTINATION WEDDING PHOTOGRAPHER.
        </div>
    </div>

    <div class="middle-side">
        <div class="images">
            <img  style="object-position: center 90%;" src="https://res.cloudinary.com/dll2nttrw/image/upload/v1768478828/footer1_zbymqt.jpg" alt="">
            <img  style="object-position: center 90%;" src="https://res.cloudinary.com/dll2nttrw/image/upload/v1768478834/footer2_z2ctk6.jpg" alt="">
            <img src="https://res.cloudinary.com/dll2nttrw/image/upload/v1768478822/footer3_ixiy6f.jpg" alt="">
            <img  style="object-position: center 90%;" src="https://res.cloudinary.com/dll2nttrw/image/upload/v1768478818/footer4_z5cbbf.jpg" alt="">
        </div>

        <div class="social">
            <p class="follow">follow along</p>
            <a href="https://instagram.com">@HOBWEDDINGS</a>
            <div class="links">
                <a target="_blank" href="https://www.instagram.com/hob.weddings/">instagram</a>/
                <a target="_blank" href="https://www.facebook.com/profile.php?id=61561454284561">facebook</a>
                <!-- <a href="https://instagram.com/">pinterest</a> -->
            </div>
        </div>

        <div class="logo">
            <img src="/images/hob-weddings-logo.png">
        </div>

        <div class="tagline">
            Your moments <br>
            timelessly captured <br>
            with Hob
        </div>
    </div>

    <div class="right-side">
		<a target="_blank" href="https://www.instagram.com/hob.weddings/">
			<div class="inquire">
				<i>inquire</i>
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M158.53,473c-4.45,0-8.9-1.11-12.23-4.45a16.12,16.12,0,0,1,0-23.35L334.23,257.25,146.3,69.33A16.51,16.51,0,0,1,169.65,46l199,199a16.12,16.12,0,0,1,0,23.35l-199,200.15A14.28,14.28,0,0,1,158.53,473Z"></path></svg>
			</div>
		</a>
        <div class="footer-menu">
            <div class="title">
                NAVIGATE
            </div>
            <hr>
            <div class="footer-links">
                <a href="#">HOME</a>
                <a href="#about">ABOUT</a>
                <a target="_blank" href="https://www.instagram.com/hob.weddings/">PORTFOLIO</a>
                <a href="#experience">EXPERIENCE</a>
                <a target="_blank" href="https://wa.me/21693556987?text=I'm%20inquiring%20about%20the%20wedding%20plans">OFFERINGS</a>
                <a href="https://www.instagram.com/hob.weddings/">INQUIRE</a>
            </div>
        </div>

        <div class="credits">
            SITE CREDITS
        </div>

        </div>
    </div>
</div>
