<div class="menu">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path d="M440,208H72a12,12,0,0,1,0-24H440a12,12,0,0,1,0,24Z"></path>
        <path d="M440,328H72a12,12,0,0,1,0-24H440a12,12,0,0,1,0,24Z"></path>
    </svg>
    <div>
        ME
        <br>
        NU
    </div>
</div>

<div class="menu-screen">
    <div class="image-cta">

        <div class="image">
            <img class="logo" src="/images/hob-weddings-logo.png">
            <img src="/images/menu-wedding-pic.jpg" alt="">
        </div>

        <div class="cta">
            Luxury wedding photographer for the stylish, soulful, and romantic. Based in Tunis, traveling worldwide.
        </div>

        <div class="social-links">
            <a href="https://instagram.com/">instagram</a>/
            <a href="https://instagram.com/">facebook</a>/
            <a href="https://instagram.com/">pinterest</a>
        </div>
    </div>
    <div class="menu-links">
        <div><sup>01</sup><a href="home">HOME</a></div>
        <div><sup>02</sup><a href="home">ABOUT</a></div>
        <div><sup>03</sup><a href="home">PORTFOLIO</a></div>
        <div><sup>04</sup><a href="home">EXPERIENCE</a></div>
        <div><sup>05</sup><a href="home">EDUCATION</a></div>
        <div><sup>06</sup><a href="home">OFFERINGS</a></div>
        <div><sup>07</sup><a href="home">JOURNAL</a></div>
        <div><sup>08</sup><a href="home">INQUIRE</a></div>
    </div>
</div>
