{{ define "main" }}
<div class="hero">
    <div class="hero-images">
        <img src="images/man-in-costume.jpg" alt="Man in costume">
        <img class="active" style="object-position: center 75%;" src="images/woman-in-wedding-dress.jpg" alt="Woman in wedding dress">
    </div>
    <div class="hero-text">
        <a href="#start">
        <div class="hero-logo">
            <img src="/favicon/hob-weddings12.png">
            <p> Basé à Tunis | Tunisie</p>
            <i> scroll to begin </i>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M158.53,473c-4.45,0-8.9-1.11-12.23-4.45a16.12,16.12,0,0,1,0-23.35L334.23,257.25,146.3,69.33A16.51,16.51,0,0,1,169.65,46l199,199a16.12,16.12,0,0,1,0,23.35l-199,200.15A14.28,14.28,0,0,1,158.53,473Z"></path></svg>
        </div>
        </a>
    </div>
</div>

<div class="hero-description">
    <h2 id="start">
        WEDDING PHOTOGRAPHY 
        <br>
        <i>&</i> CINEMATOGRAPHY 
    </h2>

    <p>
        Rooted in emotion and guided by artistry, we create wedding photography and cinematography for couples who value authenticity, beauty, and intention. Based in Tunisia, our work blends cinematic storytelling with elegant composition, capturing fleeting moments and transforming them into lasting visual memories. With a careful balance of documentary honesty and refined aesthetics, we preserve your day as it naturally unfolds—rich in emotion, light, and meaning. Every image and film is designed to feel timeless, personal, and unmistakably yours.
    </p>


    <div class="hero-services">
        <img src="/favicon/hob-weddings12.png">
        <div class="links">
            <div class="portfolio whitey" style="background-position: 20% 40%;background-size: cover;">
                <span>portfolio</span>
            </div>
            <div class="about-links">
                <div class="about-experience">
                    <div class="about-card whitey"><span>about</span></div>
                    <div class="experience whitey"><span>experience</span></div>
                </div>
                <div class="education whitey"><span>education</span></div>
            </div>
            <div class="inquire-journal" >
                <div class="inquire whitey"><span>inquire</span></div>
                <div class="journal whitey" style="background-position: center 100%;"><span>journal</span></div>
            </div>
        </div>

    </div>
</div>

<div class="what-we-do">
    <div class="title">
        A THOUGHTFUL EXPERIENCE<br>
        <i>from</i> START <i>to</i> FINISH 
    </div>

    <p>
		At Hob Weddings, we believe exceptional work begins with intention and trust. We take the time to understand your vision, your priorities, and the rhythm of your celebration, allowing you to feel confident and fully present on your wedding day. With a calm, unobtrusive approach, we work seamlessly alongside you and your team, anticipating meaningful moments and documenting them with care and precision. The result is not just beautiful imagery, but a considered, effortless experience and a visual legacy designed to last for generations.
    </p>

    <img src="/favicon/hob-weddings12.png">

</div>


<div class="reviews">
    <div class="images">
        <img src="images/review-side1.jpg" alt="aa">
        <img class="main-image" src="images/review-main.jpg" alt="aa">
        <img src="images/review-side2.jpg" alt="aa">
        <a target="_blank" href="https://www.facebook.com/profile.php?id=61561454284561&sk=reviews">MORE REVIEWS <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M158.53,473c-4.45,0-8.9-1.11-12.23-4.45a16.12,16.12,0,0,1,0-23.35L334.23,257.25,146.3,69.33A16.51,16.51,0,0,1,169.65,46l199,199a16.12,16.12,0,0,1,0,23.35l-199,200.15A14.28,14.28,0,0,1,158.53,473Z"></path></svg></a>
    </div>

    <div class="review">
        <div class="review-title">
            "Merci beaucoup à<br>
            Hob Weddings"
        </div>
        <div class="review-description">
            <b>"P</b>our les magnifiques photos de notre mariage ! Leur travail est vraiment exceptionnel et a parfaitement capturé chaque moment spécial de notre journée. Je recommande vivement leurs services à tous ceux qui cherchent à immortaliser des souvenirs inoubliables. 🌸"
        </div>
        <div class="reviewers">
            Ali & Ines
        </div>
        <div class="review-location">

        </div>
    </div>
</div>
<source style="width: 350px;" src="/videos/01 nov shoot .mp4" type="video/mp4">
<hr class="video-bars-verybig">
<hr class="video-bars-big">
<hr class="video-bars">
<div class="videos">
	<video style="width: 350px;" class="video" autoplay muted loop playsinline>
	  <source  src="https://ik.imagekit.io/vl03hsbt6/28_avril_shooting.mp4" type="video/mp4">
	</video>
	<video style="width: 350px;" class="video" autoplay muted loop playsinline>
	  <source style="width: 350px;" src="https://ik.imagekit.io/vl03hsbt6/01_november_shoot.mp4" type="video/mp4">
	</video>
	<video style="width: 350px;" class="video" autoplay muted loop playsinline>
	  <source style="width: 350px;" src="https://ik.imagekit.io/vl03hsbt6/dar_bou_corrige.mp4" type="video/mp4">
	</video>
	<video style="width: 350px;" class="video" autoplay muted loop playsinline>
	  <source style="width: 350px;" src="https://ik.imagekit.io/vl03hsbt6/syrine_reel.mp4" type="video/mp4">
	</video>
</div>
<hr class="video-bars">
<hr class="video-bars-big">
<hr class="video-bars-verybig">

<div class="gallery-cta">
    <div class="title">
        "THE IMAGE OF YOUR <br>
        UNFOLDING STORY"
    </div>
    <div class="description">
        <b>L</b>ife moves in fleeting moments—some quiet and intimate, others transformative and unforgettable. Within every celebration exist glances, gestures, and emotions that often pass unnoticed, yet define the essence of the day. Our galleries are a reflection of these moments, carefully preserved to reveal not only what was seen, but what was felt. Step inside and experience wedding stories told through light, emotion, and honest connection—each frame an invitation to linger, feel, and remember.
    </div>
    <button type="button"
        onclick="window.open('https://www.instagram.com/hob.weddings/', '_blank')">
    VIEW THE GALLERIES
</button>

</div>

<div class="about" id="about">
    <div class="team-pic">
        <img src="images/photographers.jpeg" alt="photographers">
    </div>
    <div class="about-text">
        <div class="header">
            About<br>
            <i>Hob Weddings</i>
        </div>
        <div class="description" style="margin-top: 25%;">
            <b>H</b>ob Weddings was founded by Yassin Hannachi and Ala Sinen, two artists united by a passion for capturing love. Yassin, with seven years of experience in wedding cinematography, and Ala, a fine-art photography graduate from Carthage University of Arts, combine their expertise to craft imagery that is emotional, authentic, and timeless. Together, they turned their passion into a studio dedicated to preserving love stories with artistry and care.
        </div>

        <!-- <button type="button">ABOUT</button> -->
    </div>
</div>

<div class="parallax-window">
    <img style="position: absolute;top: -20%;height: 140%;width: 100%;object-fit: cover;object-position: center 60%;will-change: transform;transform: translateY(0);" class="parallax-inner" src="/images/paralex-image.jpg" alt="">
</div>


<div class="options">
    <div class="weddings">
        <img src="/images/weddings.jpg" alt="weddings">
        <p>WEDDINGS</p>
    </div>
    <div class="engagements">
        <img src="/images/engagements.jpg" alt="engagements">
        <p>ENGAGEMENTS</p>
    </div>
</div>

<div class="the-experience" id="experience">
    <img src="/images/the-experience.jpg" alt="">
    <div class="content">
        <div class="title">
            <i>the</i><br>
            EXPERIENCE
        </div>
        <div class="description" style="font-size: 14px;margin-top: 25%;">
            <b>W</b>ith 7+ years of experience and 560+ projects, Hob Weddings has captured thousands of unforgettable moments for happy clients—many of whom return to us to document life’s most meaningful celebrations. We craft cinematic, modern-romantic imagery that preserves not just your day, but your love story for generations.
        </div>

        <!-- <button type="button">LEARN MORE</button> -->
    </div>
</div>

<div class="parallax-window">
    <img style="position: absolute;top: -20%;height: 140%;width: 100%;object-fit: cover;object-position: center 60%;will-change: transform;transform: translateY(0);" class="parallax-inner" src="/images/paralex-image2.jpg" alt="">
</div>

<div class="guide">
    <div class="guide-text">
        <p class="free-download">free download</p>
        <hr>
        <p class="title">STEAL THIS<br>
WEDDING DAY TIMELINE GUIDE</p>
        <p class="description">Get the secret to building the perfect wedding day timeline to insure you have time to capture all those must have moments.</p>

        <button type="button">GET THIS GUIDE</button>
    </div>

    <div class="images">
        <img class="main-image" src="/images/free-download1.jpg" alt="">
        <div class="absolute-images">
            <img class="sec-image" src="/images/free.jpg" alt="">
            <img class="logo-image" src="/favicon/hob-weddings12.png">
        </div>
    </div>
</div>

<div class="beauty-part parallax-window">
    <div class="text"><p>Beauty<br>
        Awaits</div></p>
    <img style="position: absolute;top: -20%;height: 140%;width: 100%;object-fit: cover;object-position: 20% 80%;will-change: transform;transform: translateY(0);transform: translate(-5%, -7.5px) scale(1.2);
"  class="parallax-inner" src="/images/paralex-image3.jpg" alt="">
</div>

{{ end }}
