{{ define "main" }}
<div class="hero">
    <div class="hero-images">
        <img class="active" src="images/woman-in-wedding-dress.jpg" alt="Woman in wedding dress">
        <img src="images/man-in-costume.jpg" alt="Man in costume">
    </div>
    <div class="hero-text">
        <div class="hero-logo">
            <img src="/favicon/hob-weddings12.png">
            <p> Basé dans la Tunis | Tunisie</p>
            <i> scroll to begin </i>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M158.53,473c-4.45,0-8.9-1.11-12.23-4.45a16.12,16.12,0,0,1,0-23.35L334.23,257.25,146.3,69.33A16.51,16.51,0,0,1,169.65,46l199,199a16.12,16.12,0,0,1,0,23.35l-199,200.15A14.28,14.28,0,0,1,158.53,473Z"></path></svg>
        </div>
    </div>
</div>

<div class="hero-description">
    <h2>
        WEDDING PHOTOGRAPHY 
        <br>
        for <i>the</i> NEW ROMANTICS
    </h2>

    <p>
        For the romantics and visionaries who cherish old-world elegance reimagined for today’s 
        grace. Based in Northern California our wedding photography is crafted to transcend the ordinary. 
        As a fine art wedding photographer, we capture true to life, heirloom wedding imagery with an 
        effortless editorial flair that blends tradition with contemporary luster. Each frame tells 
        timeless love stories of classic couples, wrapped in the glow of luxury and genuine emotion. For 
        those who see their love story as a cherished narrative, we offer the richness and depth your unique romance deserves.
    </p>


    <div class="hero-services">
        <img src="/favicon/hob-weddings12.png">
        <div class="links">
            <div class="portfolio whitey">
                <span>portfolio</span>
            </div>
            <div class="about-links">
                <div class="about-experience">
                    <div class="about-card whitey"><span>about</span></div>
                    <div class="experience whitey"><span>experience</span></div>
                </div>
                <div class="education whitey"><span>education</span></div>
            </div>
            <div class="inquire-journal">
                <div class="inquire whitey"><span>inquire</span></div>
                <div class="journal whitey"><span>journal</span></div>
            </div>
        </div>

    </div>
</div>

<div class="what-we-do">
    <div class="title">
        CRAFTING BREATHTAKING<br>
        IMAGES <i>of</i> YOUR MOST<br> TIMELESS MOMENTS
    </div>

    <p>
        Hob Weddings is driven by a passion for capturing the natural elegance and authenticity of love stories. Over the past decade, we’ve been honored to be featured in numerous publications and have photographed weddings throughout Northern California, including San Francisco, Napa Valley and beyond. Our philosophy is rooted in storytelling, aiming to highlight your personalities, document every beautiful detail, and create timeless, artful images. We strive to deliver luxurious wedding photography with an experience to match that you will cherish for years to come.
    </p>

    <img src="/favicon/hob-weddings12.png">

</div>


<div class="reviews">
    <div class="images">
        <img src="images/review-side1.jpg" alt="aa">
        <img class="main-image" src="images/review-main.jpg" alt="aa">
        <img src="images/review-side2.jpg" alt="aa">
        <a href="instagram.com">MORE REVIEWS <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M158.53,473c-4.45,0-8.9-1.11-12.23-4.45a16.12,16.12,0,0,1,0-23.35L334.23,257.25,146.3,69.33A16.51,16.51,0,0,1,169.65,46l199,199a16.12,16.12,0,0,1,0,23.35l-199,200.15A14.28,14.28,0,0,1,158.53,473Z"></path></svg></a>
    </div>

    <div class="review">
        <div class="review-title">
            "Their Work is <br>
            Phenomenal"
        </div>
        <div class="review-description">
            <b>"T</b>hey were so encouraging and made the day fun, relaxed and so special! I cannot praise them 
            name enough! 
            I am so in love with our wedding photos and can’t wait to capture many more of life’s moments 
            with them!"
        </div>
        <div class="reviewers">
            Hsin & Hsina
        </div>
        <div class="review-location">

        </div>
    </div>
</div>

<hr class="video-bars-verybig">
<hr class="video-bars-big">
<hr class="video-bars">
<div class="video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/MzLEO98OMQg?si=B7jNl-5VHxsTwfCr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
<hr class="video-bars">
<hr class="video-bars-big">
<hr class="video-bars-verybig">

<div class="gallery-cta">
    <div class="title">
        "The image of our<br>
        actual dreams"
    </div>
    <div class="description">
        <b>L</b>ife is a voyage, an intricate tapestry adorned with myriad moments. Some, a tranquil rhythm of daily life; others, a majestic crescendo of profound metamorphosis. I advocate for the meticulous documentation of this symphony, for it is not solely the grand overtures, but also the delicate notes that sculpts the individuals we embody today.
    </div>
    <button type="button">
        VIEW THE GALLERIES
    </button>
</div>

<div class="about">
    <div class="team-pic">
        <img src="images/photographers.jpeg" alt="photographers">
    </div>
    <div class="about-text">
        <div class="header">
            About<br>
            <i>Hob Weddings</i>
        </div>
        <div class="description">
            <b>H</b>ob weddings in blending allure with refinement for an exceptional luxury experience. With over a decade of expertise, she masterfully captures the visual splendor and profound emotions of each moment. Their work transcends the ordinary, creating authentic and radiant love stories through documentary and editorial wedding photography. Whether it’s San Francisco, Napa Valley, Sonoma, Santa Barbara, the Bay Area, or beyond their artistry epitomizes the beauty and deep emotions of your wedding day, weaving a timeless narrative that reflects your unique love story.
        </div>

        <button type="button">ABOUT</button>
    </div>
</div>

<div class="parallax-window">
    <img class="parallax-inner" src="/images/paralex-image.jpg" alt="">
</div>


<div class="options">
    <div class="weddings">
        <img src="/images/weddings.jpg" alt="weddings">
        <p>WEDDINGS</p>
    </div>
    <div class="engagements">
        <img src="/images/engagements.jpg" alt="engagements">
        <p>ENGAGEMENTS</p>
    </div>
</div>

<div class="the-experience">
    <img src="/images/the-experience.jpg" alt="">
    <div class="content">
        <div class="title">
            <i>the</i><br>
            EXPERIENCE
        </div>
        <div class="description">
            <b>K</b>nown for our signature modern-romantic style, relaxed approach, and iconic imagery, Hob Photography sits at the heart of Tunis, blending in-the-moment documentary narrative with expertly-posed editorial portraits that become timeless heirlooms.
            We believe that great love stories transcend mediums, classic style is eternal, and that a French 75 tastes even better after a job well done.
        </div>

        <button type="button">LEARN MORE</button>
    </div>
</div>

<div class="parallax-window">
    <img class="parallax-inner" src="/images/paralex-image2.jpg" alt="">
</div>

<div class="guide">
    <div class="guide-text">
        <p class="free-download">free download</p>
        <hr>
        <p class="title">STEAL THIS<br>
WEDDING DAY TIMELINE GUIDE</p>
        <p class="description">Get the secret to building the perfect wedding day timeline to insure you have time to capture all those must have moments.</p>

        <button type="button">GET THIS GUIDE</button>
    </div>

    <div class="images">
        <img class="main-image" src="/images/free-download1.jpg" alt="">
        <div class="absolute-images">
            <img class="sec-image" src="/images/free.jpg" alt="">
            <img class="logo-image" src="/favicon/hob-weddings12.png">
        </div>
    </div>
</div>

<div class="beauty-part parallax-window">
    <div class="text"><p>Beauty<br>
        Awaits</div></p>
    <img class="parallax-inner" src="/images/paralex-image3.jpg" alt="">
</div>

{{ end }}
